body{
    background: #cf8234;
    width: 90%;
    min-height: 500px;
    
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;

}
header{
    width: 90%;
    max-width: 800px;
    
    margin-left: 240px;
    text-align: center;
    order: 3;
}
h1{
    margin:0%;
    font-family: cursive;
    text-shadow: 1px 3px #999;
}
h2{
    text-align: center;
    margin-top: 2px;
    font-size:  24px;
}
h3{
    margin: 0%;
    margin-bottom: 8px;
    text-shadow: 1px 3px #999;
}

div{
    font-size: 19px;
}

#divabo{
    border-style:dashed;
    border-radius: 3%;
    border-color: floralwhite;
    width: 29.5%;
    min-height: 350px;
    margin: 0px;
    margin-left: 63px;
    text-align:left;
    background: #e69c52de;
    flex-direction: row;
}

#divpro{
    width: 29.5%;
    height: auto;
    min-height: 200px;
    text-align: left;
    border-style:dashed;
    border-radius: 3%;
    border-color: floralwhite;
    background: #e69c52de;
    flex-direction: row;
}
#foto{
    height: 362px;
    width: 265px;
    margin-left: 3px;
    margin-top: 4px;
    border-radius: 5%;
}

#divfoto{
    border-style:dashed;
    border-radius: 3%;
    border-color: floralwhite;
    width: 22%;
    height: auto;
    min-height: 200px;
    background: #e69c52de;
    flex-direction: row;
}

footer{
    margin: 3px;
    margin-left: 57px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 90%;
 }

.gitlogo{
    width: 50px;
    height: 50px;
    display: inline;

}

#contacto{
    margin: 2px;
    border:  2px;
    padding: 2px;
}
a:link, a:visited, a:active{
    text-decoration: none;
}